.cur-pointer {
  cursor: pointer;
}

.cur-help {
  cursor: help;
}

// button
._btn {
  color: #fff !important;
  transition: all 0.25s !important;

  &:hover {
    -webkit-filter: brightness(0.85);
    filter: brightness(0.85);
  }

  &-primary {
    background-color: var(--primary-color) !important;
  }

  &-secondary {
    background-color: var(--secondary-color) !important;
  }

  &-accent {
    background-color: var(--accent-color) !important;
  }
}

//  or sign up - login
.or-option {
  position: relative;
  margin: 0 auto;
  color: var(--text-color);

  &::before {
    position: absolute;
    content: '';
    width: 35%;
    left: 0;
    top: 50%;
    height: 1px;
    background-color: var(--input-border-color);
  }

  &::after {
    position: absolute;
    content: '';
    width: 35%;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: var(--input-border-color);
  }
}

// overlay
#_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--grey);
  opacity: 0.35;
  display: none;
}

// title
.dyno-title {
  color: var(--title-color);
  font-size: 2.4rem;
  margin: 1rem auto;
  letter-spacing: 0.75px;
  font-weight: 500;
}

.dyno-sub-title {
  color: var(--label-color);
  font-weight: 500;
  font-size: 1.6rem;
  margin: 0.8rem auto;
}

.dyno-box {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

// phonetic IPA
.phonetic {
  color: var(--phonetic-color);
  padding: 0 6px;
  letter-spacing: 1px;
}

.dyno-speaker {
  font-size: 2.2rem !important;
  color: var(--label-color);
  cursor: pointer;
}

.dyno-link {
  font-size: 1.6rem;
  color: var(--text-color);

  &:hover,
  &:active {
    color: var(--secondary-color);
  }
}

.dyno-break {
  width: 100%;
  height: 1px;
  margin: 0.8rem 0;
  background-color: var(--input-border-color);
}
