.cur-pointer {
  cursor: pointer;
}

._btn {
  color: var(--text-color);
  transition: all 0.25s !important;
  &:hover {
    -webkit-filter: brightness(0.85);
    filter: brightness(0.85);
  }

  &-primary {
    background-color: var(--primary-color) !important;
  }

  &-secondary {
    background-color: var(--secondary-color) !important;
  }

  &-accent {
    background-color: var(--accent-color) !important;
  }
}
