.t {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-end {
    text-align: end;
  }
  &-justify {
    text-align: justify;
  }
}
